extends layout.pug

block content
    main.animated.fadeInUp
        form(action='/')
            input(placeholder='Search Twitter', autocomplete='off', name='q', value=(q ? q : ''))#search
            button.sr-only Submit

        if results
            each status in results.statuses
                .result(class=status.sentiment.score < 0 ? 'negative' : 'positive')
                    p!= status.text
                    a(href='https://twitter.com/' + status.user.screen_name)!= status.user.name + ' '
                    span= status.friendlyDate