doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title safe-space
        link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
        link(href='/styles.css', rel='stylesheet')
    body
        nav
            a#hamburger(href='#')
                i.fa.fa-bars
            if user
                ul.brand
                    li
                        a= '@' + user.username
            ul.navbar
                li
                    a(href='/') safe-space
                li
                    a(href='/about') about
                if user
                    li
                        a(href='/logout') logout

        block content

        script(src='/scripts.js')
        block scripts
        